.p{
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
}

body{
  background-color: #3d3d3d;
  height: 98vh;
  width: 98vw;
  display: flex;
  align-items: center;
  justify-content: center;
}